*{margin:0;padding:0;}
a { text-decoration:none;
	color: black; }
li{list-style: none;}

.head{
    width: 100%;
    height: 211px;
    background-color: rgba(250, 88, 91, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head2{
	width:1024px;
	 margin: 0 auto;
}

.head2 h2{
	display: block;
    margin: 21px 0 0 31px;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}

.body_wrap{
	width: 100%;
	display :flex;
	height: 100%;
	justify-content: center;
	    padding-top: 54px;
}
.more_body{
	width: 1024px;
    display: flex;
    padding-left: 31px  
}
.mobile_top{
	display:none;
}
/* ====================바디 왼쪽 리스트 ==================== */
.list {
	padding-left:31px;
    width: 269px;
    height: 100%;
    padding-left: 0px;
   /*  background-color: yellow; */
    
}

.list ul li{
	margin-bottom: 26px;
	list-style:none;
	
}

.list ul li a{
	text-decoration: none;
	font-size: 18px;
    color: rgba(0,0,0,0.56);
}
/* ====================1024이상만 반응형 ==================== */
@media (min-width:1024px){
.active::after{
	    display: block;
    content: '';
    position: absolute;
    bottom:-1px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: rgb(242,17,76);
}

.content-title{
border-bottom: 1px solid rgba(0,0,0,0.2);

}
.active{
	background: #fff;
    font-weight: bold;
    color: rgb(242,17,76);
    height: 40px;
    bottom: 0;
    height: 2px;
}

}
/* ====================1024이하 반응형 ==================== */
@media (max-width:1024px){

.list{
	display:none;
}
.head{
	display:none;
}
.more_body{
	padding-left: 0px;
	width: 100%;
}
.content{
	width:100%!important;
}
.faq{
	 padding: 0 16px!important;
}
input[id*="top"] + label {
     padding: 17px 24px 17px 0!important;
}
input[id*="top"]:checked + label + div {
    padding: 0 24px 0px 0;
}
.content-title {
	height: auto!important;
    overflow: auto!important;
	display:block!important;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.08)!important;
}
.content-title li{
	float: left;
    width: 33%;
    background: #fff;
    margin-right: 0px!important;  
}

.content-title li a{
	border-right: 1px solid rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 16px 0 15px 0;
    display: block;
    
}
.active{
	
    background: #f2114c;
    color: white!important;
}

.content-title li:nth-child(2), .content-title li:nth-child(5), .content-title li:nth-child(8){
	 width: 34%!important;
}
.more_title{
	display: block!important;
	padding: 23px 0 4px 16px;
	font-size: 20px;
}
.mobile_top{
	display: block!important;
	position: relative;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
	
}
.mobile_top_btn{
	display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    padding: 0 16px;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 44px;
    color: rgba(0,0,0,0.87);
}

}

/* ====================바디 오른쪽 질문목록==================== */

.more_title{
	display: none;
}

.active-more{
	    font-size: 18px;
    font-weight: bold;
    color: rgb(230,28,81)!important;}




.content{
 width: 724px;
    /* background-color: blue; */
    height: 100%;

}
.content-title{
	overflow: visible;
    height: 40px;
    border-top: none;
    background: #fff;
	display: flex;
	
}
.content-title {
	
}
.content-title li{
	margin-right: 18px;
	letter-spacing: -1px;
	position: relative;
}
.content-title li:last-child{
	margin-right: 0px;
}

.faq{
	list-style: none;
	margin-bottom: 0;
    padding: 0 0;
    margin-top: 0px;
}

.faq label{
	color: black;
	    display: block;
    position: relative;
    height: auto;
    margin-bottom: 0;
    padding: 23px 24px 23px 0;
    border-radius: 0;
    background: #fff;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    
}

.faq span{
	font-size: 16px;
    color: rgba(0,0,0,0.38);
}
	
input[id*="top"]{
	display:none;
}
input[id*="top"] + label{
	display:block;
	width:100%;
	heith:100%:
}

input[id*="top"] + label em{
	display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 9px;
    margin-top: -5px;
    background:url('../../img/ico_arr.png') 0 0 no-repeat;
    background-size: 14px auto;
}

input[id*="top"]:checked + label em{
	background-position: 0 -9px;
}

input[id*="top"] + label + div{
	max-height:0;
	overflow: hidden;
}
input[id*="top"]:checked + label{
	border-bottom: none;
}
input[id*="top"]:checked + label + div{
	max-height:100%;
	padding: 0 24px 0px 0;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
