body {
    margin: 0;
}

.wrapper {
    margin: 72px 0 0 0;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 200;
}

.header_title {
    /*    background-color: aqua;*/
    display: flex;
/*    flex-basis: 30%;*/
/*    width: 30%;*/
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.header_title .click{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}
.header_title i{
    padding-right: 0.5rem;
    font-size: 1.5rem;
}

.header_title h3{
    margin: 0;
}

.header_logout {
    /*    background-color: blueviolet;*/
/*    width: 10%;*/
    font-size: 1.5rem;
    text-align: end;
    padding-right: 1rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
    text-align: center;
    font-size: 1rem;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: lightsalmon;}

.header_logout i {
    cursor: pointer;
}

.body_wrapper {
    margin-left: 140px;
    z-index: 1;

}
.toggle_body {
    margin-left: 20px;
    transition: all .4s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 120px;;
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    z-index: 20;
    /*    transition: all .4s;*/
}

.sidebar_menu{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sidebar_menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
/*    border-radius: 10px;*/
	text-decoration: none;
    color: inherit;
/*    background-color: antiquewhite;*/
}

.here{
    background-color: #ccc;
}

.sidebar_menu a:hover{
    color: lightsalmon;
    cursor: pointer;
}

.sidebar_footer{
    background-color: #ccc;
    width: 100%;
    
}
.sidebar_footer p:nth-child(1){
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
}
.sidebar_footer p:nth-child(2){
    margin-top: 0;
    padding-left: 0.5rem;
}

.sidebar_right{
    width: 20px;
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 120px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.sidebar_right .three{
    align-self: center;
}
/* 햄버거 메뉴 */

.three {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f7323f;
    color: white;
    text-align: center;
}

.hamburger .line {
    width: 1rem;
    height: 3.2px;
    background-color: #ecf0f1;
    display: block;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
    color: salmon;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    transform: translateY(6.2px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    transform: translateY(-6.2px) rotate(-45deg);
}

.toggle_sidebar {
    display: none;

}
.toggle_right{
    left: 0;
/*    background-color: aqua;*/
}

.content {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
/*    justify-content: space-between;*/
    align-items: center;
    width: 100%;
    margin-left: 

}

.content_title{
    font-size: 2rem;
    padding: 1rem;
    align-self: flex-start;
}

.chart{
    display: flex;
	align-items: center;
    width: 100%;
    flex-direction: column;
    
}

.item_chart{
	display: flex;
	justify-content: space-around;
    width: 80%;
    padding: 1rem;
    
    margin-bottom: 1rem;
    
}

.item_chart canvas{
	/* min-width: 300px; */
    max-width: 400px;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0 1rem;
    margin: 0 1rem;
}

@media screen and (max-width:900px) {.item_chart{flex-direction: column; margin-bottom: 0; padding: 0;} .item_chart canvas{margin-bottom: 1rem;}}

.card.mb-4{
    overflow: auto;	
    align-self: stretch;
    margin: 0 1rem;
    
}

.card-body{
    text-align: center;
}

.card-body th{
	background-color: rgba(0, 0, 0, 0.03)!important;
    text-align: center!important;
    
}

.write_form{
    display: flex;
    flex-direction: column;
	overflow: auto;	
    align-self: stretch;
    border: 1px solid #dee2e6;
    padding: 0 1rem 1rem 1rem;
    margin: 1.5rem 1rem;
}

.write_form .input_title{
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #dee2e6;
    height: 2rem;
    padding-left: 1rem;
    margin: 0 -1rem 1rem -1rem;
    display: flex;
    align-items: center;
}
.write_form table{
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
    margin-bottom: 1rem;
}

.write_form td, .write_form th{
    border: 1px solid #dee2e6;
    
}

.footer_wrapper{
    margin-left: 140px;
    
}

.toggle_footer{
    margin-left: 20px;
    transition: all .4s;
}